div#sidebarContainer{
    width: 200px;
    height: calc(100% - 200px);
    position: fixed;
    bottom: 0;
    left: 0;
    float: left;
    background-color: white;
}

ul.side{
  list-style:none;
  display: block;
}

ul.side li{
  display: block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:#eee;
  color:#7B8585;
  transition:0.3s;
  margin-left: 0px;
}

ul.side li:hover{
  background-color:#beecea;
}

ul.side li.focused{
  color:#fff;
  background-color:#41c7c2;
}
