div#sidebarContainer{
    width: 200px;
    height: 100%;
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    float: left;
    background-color: white;
    text-align: center;
}

#profileImg {
  margin: 30px 0px 10px 0px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#profileUsername {
  width: 75%;
  margin: 5px auto 15px auto;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

ul.side{
  width: 100%;
  list-style:none;
  display: block;
}

ul.side li{
  display: block;
  padding: 10px 20px;
  cursor:pointer;
  background-color:white;
  color:#7B8585;
  transition:0.3s;
  margin-left: -50px
}

ul.side li:hover{
  background-color:#beecea;
}

ul.side li.focused{
  color:#fff;
  background-color:#41c7c2;
}
