#tutor_container {
	padding-left: 25px;
	padding-right: 25px;
}

#tutor_side {
	float: left;
	width: 300px;
	text-align: center;
	height: 600px;
}

#tutor_img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-top: 30px;
}

#review_container {
  float: left;
  margin-left: 20px;
  width: 360px;
  padding: 5px 15px 15px 15px;
  height: 600px;
  overflow-y: auto;
}

#average_rating {
  text-align: center;
}

#tutor_info {
	margin-left: 700px;
	padding: 0px 0px 20px 10px;
}

#tutor_bio {
	margin-bottom: 25px;
	padding: 5px 15px 10px 15px;
	height: 250px;
}

#tutor_bio p {
	overflow-y: auto;
	max-height: 188px;
}

#tutor_details {
	padding: 5px 15px 10px 15px;
	height: 325px;
}

h3 {
	margin-top: 10px;
}

#session_card {
	padding: 5px 15px 15px 15px;
}

#input_container {
	display: flex;
	overflow: auto;
    justify-content: space-around;
    margin-bottom: 8px;
    margin-top: -12px;
}

#session_button {
	text-align: right;
}
