div.homeContainer{
    float:left;
    left: 0;
    position: fixed;
    margin-left: 500px;
    margin-top: 500px;
    width: 500px;
    height: 500px;
    background-color: black;
    color: red;
}

div.buttonContainer{
    float:left;
    left: 0;
    position: fixed;
    margin-left: 500px;
    margin-top: 500px;
    width: 500px;
    height: 500px;
    background-color: black;
    color: red;
}
